.hero{
 display: flex;
 justify-content: center;
 align-items: center;
 text-align: center;
 height: 90vh;
 color: black;
 background-size: cover;
 background-repeat: no-repeat;
 background: url('assets/Paris.jpeg');
}

h2{
    display: flex;
    justify-content: center;
    font-size: smaller;
}

.l1{
    display: flex;
    justify-content: space-around;
}

.tero{
    display: flex;
    justify-content: center;
    font-size: small;
}

.mero{
    
    width: 50vh;
    margin: auto;
}















    